In [2]:
import pandas as pd
import numpy as np
import sys
import os

from pydeseq2.dds import DeseqDataSet
from pydeseq2.ds import DeseqStats
from pydeseq2.default_inference import DefaultInference
import plotly #Plotting

#GLM == General Linear Models
import scipy
import statsmodels

#Find the utils Directory
sys.path.append(os.path.abspath("../../"))
from src.utils.ConvertTextToCsv import TextToCsv

In [3]:
df_txt = pd.read_csv("data_mrna_seq_v2_rsem.txt", header=None)
print(df_txt)

                                                       0
0      Hugo_Symbol\tEntrez_Gene_Id\tTCGA-A1-A0SB-01\t...
1      UBE2Q2P2\t100134869\t14.3935\t11.3241\t4.4426\...
2      HMGB1P1\t10357\t116.3870\t60.2630\t153.1452\t1...
3      LOC155060\t155060\t279.7612\t83.6986\t74.7018\...
4      RNU12-2P\t26823\t0.4505\t0.3308\t0.0000\t0.000...
...                                                  ...
20436  ZYX\t7791\t6186.7327\t3559.6725\t3007.8157\t53...
20437  ZZEF1\t23140\t1931.2986\t1278.9678\t926.3677\t...
20438  ZZZ3\t26009\t1436.1978\t1195.6000\t1075.4422\t...
20439  TPTEP1\t387590\t552.3144\t86.0144\t866.1456\t5...
20440  AKR1C6P\t389932\t0.0000\t0.0000\t0.0000\t0.856...

[20441 rows x 1 columns]

In [19]:
df_csv = TextToCsv("data_mrna_seq_v2_rsem.txt")
print(df_csv.head())

Shape of the CSV: (20440, 819)
  Hugo_Symbol  Entrez_Gene_Id  TCGA-A1-A0SB-01  TCGA-A1-A0SD-01  \
0    UBE2Q2P2       100134869          14.3935          11.3241
1     HMGB1P1           10357         116.3870          60.2630
2   LOC155060          155060         279.7612          83.6986
3    RNU12-2P           26823           0.4505           0.3308
4        SSX9          280660           0.0000           0.0000

   TCGA-A1-A0SE-01  TCGA-A1-A0SF-01  TCGA-A1-A0SH-01  TCGA-A1-A0SI-01  \
0           4.4426          10.7401           3.0048           2.9782
1         153.1452         141.1933          79.8003          63.5491
2          74.7018         314.4482          95.7054         149.7940
3           0.0000           0.0000           0.0000           0.2943
4           0.0000           0.0000           0.0000           0.0000

   TCGA-A1-A0SJ-01  TCGA-A1-A0SK-01  ...  TCGA-LL-A5YM-01  TCGA-LL-A5YN-01  \
0           4.9419          28.8560  ...           0.0000           2.9624
1         134.8733        1119.1932  ...         101.2865         100.3083
2          63.6488         166.7192  ...         130.9387         367.2936
3           0.3658           0.3152  ...           0.0000           0.5225
4           0.0000           0.0000  ...           0.0000           0.0000

   TCGA-LL-A5YO-01  TCGA-LL-A5YP-01  TCGA-LQ-A4E4-01  TCGA-MS-A51U-01  \
0           3.6899           6.3020          14.1288           7.9343
1         278.5626         206.4376         117.0300         150.6834
2         165.7717         103.9783         307.2124         540.4278
3           0.0000           0.0000           0.9974           1.5649
4           0.0000           0.0000           0.0000           0.0000

   TCGA-OL-A66H-01  TCGA-OL-A66I-01  TCGA-OL-A66J-01  TCGA-OL-A66K-01
0           2.2519           1.2603           5.0428           4.3892
1         115.3378         158.3599         124.6327         106.3475
2         338.1985         210.7460         323.1185         554.5539
3           2.0851           0.4173           0.4507           1.2434
4           0.0000           0.0000           0.0000           0.0000

[5 rows x 819 columns]

Eliminate The values that are 0 in the rows

In [21]:
df_counts = df_csv.drop(columns=["Hugo_Symbol", "Entrez_Gene_Id"])

df_counts = df_counts.T

df_counts = df_counts.astype(int)
#Filtrate
df_counts = df_counts.loc[:, df_counts.sum(axis=0) >= 10]
print(df_counts.head())

                 0      1      2      3      4      5      6      7      \
TCGA-A1-A0SB-01     14    116    279      0      0      0      0      1
TCGA-A1-A0SD-01     11     60     83      0      0      0      0      4
TCGA-A1-A0SE-01      4    153     74      0      0      0      0      5
TCGA-A1-A0SF-01     10    141    314      0      0      0      2      9
TCGA-A1-A0SH-01      3     79     95      0      0      0      0      3

                 8      9      ...  20430  20431  20432  20433  20434  20435  \
TCGA-A1-A0SB-01      0      0  ...     95    519   1415     19   1364   6186
TCGA-A1-A0SD-01      0      0  ...     96    578   1225     33    868   3559
TCGA-A1-A0SE-01      0      0  ...     95    726   1018     57    960   3007
TCGA-A1-A0SF-01      0      0  ...     74    533   1053     94    881   5343
TCGA-A1-A0SH-01      0      0  ...     87    581    801     19   1353   5464

                 20436  20437  20438  20439
TCGA-A1-A0SB-01   1931   1436    552      0
TCGA-A1-A0SD-01   1278   1195     86      0
TCGA-A1-A0SE-01    926   1075    866      0
TCGA-A1-A0SF-01    934    508     52      0
TCGA-A1-A0SH-01   1312   1001    455      0

[5 rows x 19441 columns]

In [15]:
res = df_csv.mask(df_csv.values == 0)
df_csv = res.dropna()
print(df_csv)

      Hugo_Symbol  Entrez_Gene_Id  TCGA-A1-A0SB-01  TCGA-A1-A0SD-01  \
1         HMGB1P1           10357         116.3870          60.2630
2       LOC155060          155060         279.7612          83.6986
14        HSPB1P1          653553          43.6986         226.9457
17         GTPBP6            8225         392.3865         271.2762
19           A1BG               1          49.1992         142.2976
...           ...             ...              ...              ...
20434      ZYG11B           79699        1364.5681         868.0837
20435         ZYX            7791        6186.7327        3559.6725
20436       ZZEF1           23140        1931.2986        1278.9678
20437        ZZZ3           26009        1436.1978        1195.6000
20438      TPTEP1          387590         552.3144          86.0144

       TCGA-A1-A0SE-01  TCGA-A1-A0SF-01  TCGA-A1-A0SH-01  TCGA-A1-A0SI-01  \
1             153.1452         141.1933          79.8003          63.5491
2              74.7018         314.4482          95.7054         149.7940
14            299.7943         276.3203         126.7646         255.4444
17            476.1826         743.7086         353.5684         424.6616
19            192.8194         326.0194         180.3235         128.4550
...                ...              ...              ...              ...
20434         960.5923         881.2262        1353.2389         977.0453
20435        3007.8157        5343.4779        5464.9614        4515.3031
20436         926.3677         934.3482        1312.7898        1010.5945
20437        1075.4422         508.0867        1001.1151         959.3879
20438         866.1456          52.2652         455.7746          30.6062

       TCGA-A1-A0SJ-01  TCGA-A1-A0SK-01  ...  TCGA-LL-A5YM-01  \
1             134.8733        1119.1932  ...         101.2865
2              63.6488         166.7192  ...         130.9387
14            636.1225          68.3895  ...        3891.9883
17            391.0380         330.9171  ...        1553.9422
19            226.7801          86.6436  ...        1507.1099
...                ...              ...  ...              ...
20434        1092.6383        1380.7123  ...         261.3680
20435        3032.0988         591.2386  ...        5421.4750
20436         958.3905        1798.9285  ...         368.3607
20437         718.7929        1335.6445  ...         150.8088
20438          43.5299          49.4800  ...          30.5694

       TCGA-LL-A5YN-01  TCGA-LL-A5YO-01  TCGA-LL-A5YP-01  TCGA-LQ-A4E4-01  \
1             100.3083         278.5626         206.4376         117.0300
2             367.2936         165.7717         103.9783         307.2124
14            670.8464         381.6605         351.2658         156.5985
17           1402.2989        1647.2532        1122.9656         470.7930
19            452.4033         295.5528         136.0353         498.7862
...                ...              ...              ...              ...
20434         426.3323         736.3348         519.8915         838.3507
20435        5774.8171        6722.2911       11514.4665        2721.5227
20436         964.4723        1176.9241        1154.1591        1247.8010
20437         508.3595         606.3610         494.1230        1093.1973
20438          17.2414         207.0770          73.6890          25.9335

       TCGA-MS-A51U-01  TCGA-OL-A66H-01  TCGA-OL-A66I-01  TCGA-OL-A66J-01  \
1             150.6834         115.3378         158.3599         124.6327
2             540.4278         338.1985         210.7460         323.1185
14            217.5274         402.0017         244.5488        1139.2519
17            622.8482         943.2861         501.1998         543.9387
19            362.5874          51.2469         207.2697         267.0482
...                ...              ...              ...              ...
20434         858.1116         634.2786         479.0819         683.1906
20435        4930.6208        4163.4696        6621.1789        5216.7643
20436        2212.8326        1251.8766         649.3479        1408.7427
20437         665.6234         773.1443         780.3860         713.3844
20438         249.8696           5.8382          47.1570         567.3727

       TCGA-OL-A66K-01
1             106.3475
2             554.5539
14           1075.5362
17            880.3233
19            422.2195
...                ...
20434         712.8795
20435        4961.5584
20436        1027.8728
20437         855.8699
20438          37.3018

[12928 rows x 819 columns]

In [ ]:

#N of Cpu
inference = DefaultInference(n_cpus=2)
metadata = pd.DataFrame(index=df_counts.index)
print(metadata)

In [ ]:
deseqDataset = DeseqDataSet(
    counts=df_counts,
    metadata=metadata,
    design="~condition",
    refit_cooks=True,
    inference=inference
)

deseqDataset.deseq2()